/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// Modules and Variables
@import "partials/base";

// Partials
@import "partials/reset";
@import "partials/typography";
@import "partials/buttons";
@import "partials/proportional-grids";
@import "partials/grids";
@import "partials/navigation";
@import "partials/link_styles";
@import "partials/animations";
@import "partials/mixins";
@import "partials/helpers";
@import "partials/footer";
@import "partials/sock";
// 

// Third-party
/*@import "vendor/_proportional-grids.scss";
@import "vendor/jquery.ui.core";*/

html, body{
	font-family: $base-font-family;
	line-height: $base-line-height;
	letter-spacing: $base-letter-spacing;
	color: $base-font-color;
	height:100%;
	width: 100%;
	background-color: $red;
}

body{
	background-color: $grey-lightester;
}

@media screen and (min-width: 769px){
html, body{
	margin: 0;
}
}

@media screen and (min-width: 481px) and (max-width: 768px){
html, body{
	margin: 0;
}
}

@media screen and (max-width: 480px){
html, body{
	font-size: $base-font-size;
	margin: 0;
}
}

h1, h2, h3 {
	font-family:$header-font-family-hand;
	text-align: center;
	font-weight: $regular;
}


h1, h2, h3 {
	font-family:$header-font-family-hand;
	text-align: center;
	font-weight: $regular;
}

/*-----*/

.container{
	max-width:1200px;
	margin: 0 auto;
	padding: $padding-bp1;
}

.white-bg {
	background-color: white;
}

@media screen and (max-width: 480px){
	.container{
	max-width:inherit;
	margin: 0 auto;
	/*padding: 0 0.75em 0 0.75em;*/
	padding: $padding-bp3;
}
}

@media screen and (min-width: 481px) and (max-width: 768px){
	.container{
	max-width:inherit;
	margin: 0 auto;
	padding: $padding-bp2;
}
}

.intro{
	max-width:30em;
	margin: 0 auto;
	/*padding: 2em 0 2em 0;*/
	padding-bottom: $padding-bp1;
}

@media screen and (max-width: 480px){
	.intro{
	max-width:inherit;
	padding-bottom: $padding-bp3;
}
}

/*-----------LANDING WRAP ------------*/
#landing_wrap{
	width: 100%;
	height: 100%;
	background-color: $red;
	background-size: cover;
	display:table;
	position: relative;
}
/*------------------HERO--------------*/
.hero{
	clear: both;
	width: 100%;
	/*background-color: #00c0ff;*/
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	padding-top: 10em;
}

/*------------------FEATURE PANEL--------------*/
.feature{
	clear: both;
	width: 100%;
	/*background-color: #00c0ff;*/
	text-align: center;

}

.blue-bg{
	background-color: $blue;
	color: white;
	/*padding:$padding-bp1 0 $padding-bp1 0;*/
}

.grey-bg {
	background-color: $grey-darkest;
	color: $grey-light;
	/*padding:$padding-bp1 0 $padding-bp1 0;*/
}


.grey-bg h1{
	color: $grey-lightest;
	/*padding:$padding-bp1 0 $padding-bp1 0;*/
}

.no-bg{
	background-color: none!important;
} 

/*-----------READ MORE BUTTON -----------*/
#read-more{
	position:fixed;
	bottom:0;
  	display: block;
  	text-indent: -9999px;
  	background: url(../images/svg/down-arrow.svg);
  	background-size: 20px;
  	background-repeat: no-repeat;
  	left: 49%;
}

/*------- BACKGROUND IMAGE ------*/
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

/* ---------- About ------------ */
.about{
	background-color: black;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 3;
	color: white;
	opacity: 0.95;
	font-size: 120%;
}

.about a{
	color: $red!important;
}

.show{
	visibility:visible!important;
}

.hide{
	visibility:hidden;
}

.cross{
	display: block;
	text-indent: -9999px;
	min-width:38px;
	min-height:38px;
	position: absolute;
  	right: 1.2em;
  	top: 1.1em;
  	z-index: 1;
  	cursor: pointer;
  	background: url(../images/svg/cross_large.svg);
  	background-size: 38px;
  	background-repeat: no-repeat;
}

@media screen and (max-width: 500px){
.about{
	font-size: 90%;
}
	.cross{
	display: block;
	text-indent: -9999px;
	min-width:30px;
	min-height:30px;
	position: absolute;
  	right: 1.2em;
  	top: 1.1em;
  	z-index: 1;
  	cursor: pointer;
  	background: url(../images/svg/cross_small.svg);
  	background-size: 30px;
  	background-repeat: no-repeat;
}
}

/******/