---
title: The Responsive Sock
---
<div id='testdiv' style='height: 1in; left: -100%; position: absolute; top: -100%; width: 1in;'></div>
<!-- Index -->
<div id="landing_wrap">
			<!-- MAIN STAGE -->
			<div class="hero fadeInUp">
					<div id="sock_wrap">
						<div id="sock_left"><img src="img/sock_left.png"></div>
						<div id="sock_right" class="growIn"><img src="img/sock_right.png"></div>
					</div>
					<h1 id="giant" class="fadeIn">
						<span id ="dimensions"></span> inches</h2>
					</script>
				</h1><!-- End heading-->
				<span class="black subline--homepage">
					Wow, you're window is a real <span id ="namePorn"></span>.
				</span>
				<!--<a href="projects" class="button">Enter me</a>-->
			</div><!-- End hero -->
</div><!-- End landing_wrap -->