---
title: The Responsive Sock — How big is your browser?
---
<div id='testdiv' style='height: 1in; left: -100%; position: absolute; top: -100%; width: 1in;'></div>
<!-- Index -->
<div id="landing_wrap">
			<!-- MAIN STAGE -->
			<div class="hero fadeInUp">
					<div id="sock_wrap">
						<!--<div id="sock_left"><img src="img/sock_left.png"></div>-->
						<div id="sock_right" class="growIn"><img src="img/sock_right.png"></div>
					</div>
					<h3 class="eyebrow pulse">Calculating<h3>
					<h3 class="eyebrow fadeIn">Your browser is<h3>
					<h1 id="giant" class="fadeIn"><!---->
						<span id ="dimensions-width"></span>×<span id ="dimensions-height"></span>
					</h1><!-- End heading-->
					<span class="subline--homepage fadeIn-3">
					<!--Well <span id ="namePorn"></span>, it seems like you measure --><span id ="dimensions-height"><span id="namePorn">.
					</span>
				<!--<a href="projects" class="button">Enter me</a>-->
			</div><!-- End hero -->
</div><!-- End landing_wrap -->
<div class="footer">
	Brought to you by <a href="http://www.paulthedesigner.ie">Paul the Designer</a>.
</div>