// Footer

footer{
	font-size: 0.65em;
	color: $grey-light;
	text-align: center;
	margin: 0 auto;
	line-height: 1.2em;
	padding:2em;
}

.footer_wrap{
	max-width: 50em;
}

.footer_wrap ul, li{
	display: inline;
	list-style:none;
}

.footer_wrap ul{
		margin-left: -3em;
}

.footer_wrap img{
	width: 80px;
	height: auto;
}

@media screen and (max-width: 768px){

.footer_wrap img{
	width: 60px;
	height: auto;
}
}

.footer_wrap ul:after{
	
	position: absolute;
    content:'';
    height: 5px;
    width: 3em;
    background-color: rgba(0,0,0,0.1);
    text-align: center;
    display: block;
    margin: 2em auto 1em;
    position: relative;
    margin-bottom: 2em;
    margin-top: 2em;
}