//WIDTHS

.no-gutter{
    padding-left:0px!important;
    margin:0px!important;
    padding:0px!important;
    margin-bottom: -10px!important;
}

.grid-wrap {
    overflow: hidden;
    clear: both;
    padding-bottom: $padding-bp1;
    z-index:100;
} 

.grid-col {
    float:left;
    text-align: left;
    width: 100%;
}   

@media screen and (min-width: 900px){
    .grid-wrap {
    margin-left: -2em;
    overflow: hidden;
    clear: both;
    padding-bottom: $padding-bp1;
    z-index:100;
} 

.grid-col {
    float:left;
    text-align: left;
    padding-left: 2em; /* gutter */
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; 
    padding-bottom: 1em;
}   
}

.grid-col img{
    width: 100%;
    border:none;
}

.one-up--full{
    width: 100%;
}

.one-up{
    width: 75%;
}

.prose{
    max-width: 36em;
}

.two-up{
    width: 50%;
}

.three-up{
    width: 33.33333%;
}

.four-up{
    width: 25%;
}

@media screen and (min-width: 481px) and (max-width: 900px){

    .grid-wrap {
    margin-left: -1em;
    overflow: hidden;
    clear: both;
    padding-bottom: $padding-bp2;
} 

    .grid-col {
    float:left;
    padding-left: 1em; /* this is your gutter between columns */
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; 
}
    .grid-col img{
    width: 100%;
}
}

@media screen and (max-width: 480px){
    .grid-wrap {
    margin-left: -0.25em;
    overflow: hidden;
    clear: both;
    padding-bottom: $padding-bp3;
} 
    .grid-col img{
    width: 100%;
}
    .grid-col {
    float:left;
    padding-left: 0.25em; /* this is your gutter between columns */
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; 
}
.four-up{
    width: 50%;
}
.three-up{
     width: 100%;
}
}


@media screen and (min-width: 481px) and (max-width: 900px){
.four-up {
    width:50%;
}

.three-up {
    width:33.33333%;
}
.two-up {
    width:50%;
}
}

@media screen and (max-width: 480px){
.two-up {
    width:100%;
}
}
