// Sock

#sock_wrap{
	width: 100%;
}
#sock_wrap img{
	float: left;
}
#sock_left{
	position: absolute;
	left:0;
	top:15%;
	z-index: 1;
}

#sock_left img{
	height:280px;
	width: auto;
}

#sock_right {
	position: absolute;
	right:0;
	top:30%;
}

#sock_right img{
	height:100px;
	width: auto
}

@media screen and (max-width: 600px){
	#sock_left{
	position: absolute;
	left:0;
	top:17%;
	z-index: 1;
	}

	#sock_left img{
	height:170px;
	width: auto;
	}

	#sock_right {
		position: absolute;
		right:0;
		top:20%;
	}

	#sock_right img{
		height:90px;
		width: auto
	}
}


@media screen and (min-width: 1250px){
	#sock_right {
		position: absolute;
		right:0;
		top:20%;
	}

	#sock_right img{
		height:180px;
		width: auto
	}
}

@media screen and (min-width: 2000px){
	#sock_right {
		position: absolute;
		right:0;
		top:30%;
	}

	#sock_right img{
		height:200px;
		width: auto
	}
}

@media screen and (max-width: 480px){
	#sock_right {
		position: absolute;
		right:0;
		top:35%;
	}

	#sock_right img{
		height:60px;
		width: auto
	}
}